/*Main calculator background*/
.calculatorBody {
    display:flex;
    height:500px;
    width:350px;
    background:lightskyblue;
    align-items:center;
    flex-direction:column
}

.displayBox {
    font-size:40px; /*Placeholder to prevent VSC warning*/
    background:lightcoral;
    height: 75px;
    width: 300px;
    margin: 25px;
    border: 0px;
    padding: 0px;
    text-align:left;
    line-height:75px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;

}

.buttons {
    display:flex;
    height: 350px;
    width: 300px;
    flex-direction:row;
    justify-content:space-between;
    gap: 20px;
}

.buttonsNumbers {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background:lightcyan;
    flex-grow:1;
}

.numRow {
    display:flex;
    justify-content:center;
    flex-direction:row;
    gap:15px;

    margin-top:10px;
    margin-bottom:10px;
}

.buttonsFunctions {
    display:flex;
    height: 350px;
    width: 50px;
    background: lightcyan;
    flex-direction:column;
    justify-content:space-between;
    flex-grow:1;
    align-items:center;
}

.numButton, .funcButton {
    width: 40px;
    height:40px;
    text-align:center;
    line-height:40px;
    user-select:none;
}

.numButton {
    height:50px;
    width:50px;
    background:lightpink;
}

.funcButton {
    background:lightseagreen;
    margin-top:5px;
    margin-bottom:5px;
}

.funcButton {
    font-size:10px; /*Placeholder to prevent VSC warning*/
}